#scheme-Paradox .module-grid{

}

#scheme-Paradox .valjean-layout .module-card{
    margin-left: 0;
    margin-right: 0;
    width: 100%;

}

#scheme-Paradox .valjean-layout .module-card{
    display: block;
}

#scheme-Paradox .valjean-layout .module-card_media{
    display: block;
}

#scheme-Paradox
#